.autocomplete {
    width: 100%;
    position: relative;
}

.autocomplete .items {
    border-radius: 5px;
    background: var(--color-white);
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    z-index: 99;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
}

.autocomplete .items>div {
    padding: 15px 15px;
    cursor: pointer;
    border-bottom: 1px solid var(--color-light);
    font-size: 14px;
}

.autocomplete .items>div.focused {
    background: var(--color-light);
}

.autocomplete .items>div:last-child {
    border: none;
}

.autocomplete .items>div:hover {
    background: var(--color-light);
}

.autocomplete .items::-webkit-scrollbar {
    width: 10px;
}

.autocomplete .items::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.autocomplete .items::-webkit-scrollbar-thumb {
    background: var(--color-light);
}

.autocomplete .items::-webkit-scrollbar-thumb:hover {
    background: #555;
}