.progress-bar {
    position: relative;
    overflow: hidden;
    display: block;
    z-index: 0;
    border-radius: 4px;
    background: rgba(255, 86, 48, 0.24);
    margin-bottom: 8px;
    height: 6px;
    max-width: 80px;

    &>div {
        animation: load 3s normal forwards;
        width: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        top: 0px;
        background: rgb(255, 86, 48);

        &.success {
            background: var(--color-success) !important;
        }

        &.error {
            background: var(--color-error) !important;
        }

        &.warning {
            background: var(--color-warning) !important;
        }
    }

    &.success {
        background: var(--color-success-variant) !important;
    }

    &.error {
        background: var(--color-error-variant) !important;
    }

    &.warning {
        background: var(--color-warning-variant) !important;
    }
}