.input-group {
    position: relative;

    &.required {
        >label::after {
            content: " *";
            color: var(--color-error);
        }
    }

    >label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 16px;
        color: var(--color-dark-variant);
        padding: 0 5px;
        pointer-events: none;
        transition: .2s;
    }

    >input {
        width: 100%;
        height: 50px;
        font-size: 16px;
        color: var(--color-dark);
        padding: 0 10px;
        background: transparent;
        border: 1.2px solid var(--color-dark-variant);
        outline: none;
        border-radius: 5px;

        &:hover {
            border-color: var(--color-primary);
        }

        &:focus {
            border-color: var(--color-primary);
        }

        &::-webkit-input-placeholder {
            color: transparent !important;
        }

        &:not(:placeholder-shown):not(:focus):invalid {
            border-color: var(--color-error);
        }

        &:disabled,
        &:disabled~label {
            color: var(--color-info-dark);
            cursor: not-allowed;
            border-color: var(--color-light);
        }

        &:focus~label,
        &:not(:placeholder-shown):not(:focus)~label {
            top: 0;
            font-size: 12px;
            background: var(--color-white);
            color: var(--color-primary);
        }
    }

    &:first-child {
        .icon {
            position: absolute;
            top: 50%;
            left: 0;
            translate: 0 -50%;
            color: var(--color-info-dark) !important;
        }
    }

    .icon-button {
        position: absolute;
        top: 50%;
        right: .8rem;
        translate: 0 -50%;
    }

    >input[type="date"] {
        color: var(--color-dark);
        color-scheme: dark;

        &::-webkit-calendar-picker-indicator {
            opacity: 0.6;
            filter: invert(0.5);
            cursor: pointer;
        }

        &::-webkit-calendar-picker-indicator:hover {
            opacity: 1;
        }
    }

    >input[type="search"] {
        padding-inline-start: 3rem;

        &::-webkit-input-placeholder {
            color: var(--color-info-dark) !important;
        }

        &+label {
            display: none;
        }

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
            height: 1em;
            width: 1em;
            border-radius: 50em;
            background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
            background-size: contain;
            opacity: 0;
            pointer-events: none;
            transition: opacity .5s;
        }

        &:focus::-webkit-search-cancel-button {
            opacity: .3;
            pointer-events: all;
        }
    }
}