.button {
    background: var(--color-primary);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    color: var(--color-white);
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    transition: all 200ms ease-in-out;
    /* width: 100%; */

    &:hover {
        background: var(--color-light) !important;
        color: var(--color-dark) !important;
    }

    &:disabled {
        color: var(--color-dark-variant) !important;
        cursor: not-allowed;
    }

    &.lg {
        font-size: large;
        padding: 1rem 3rem;
    }

    &.md {
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    &.sm {
        font-size: small;
        padding: .5rem 1rem;
    }

    &.contained {
        color: var(--color-white) !important;
        background: var(--color-primary);

        &:hover {
            background: var(--color-secondary) !important;
        }
    }

    &.outlined {
        background: transparent;
        border: 1px solid var(--color-border);
        color: var(--color-primary);

        &:hover {
            border: 1px solid var(--color-border-hover);
        }
    }

    &.text {
        background: transparent;
        padding: 0 !important;
        margin: 0 !important;
        color: var(--color-dark);

        &:hover {
            background: none !important;
        }
    }

    &.has-more-childs {
        padding: .2rem 1rem;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }

    &>.icon {
        padding: 5px 2px;
        font-size: 1.5rem;
    }
}