.button {
    background: var(--color-primary);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    color: var(--color-white);
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    transition: all 200ms ease-in-out;
    width: 100%;
}

.button:hover {
    background: var(--color-light);
    color: var(--color-dark);
}