.button {
    background: var(--color-primary);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    color: var(--color-white);
    display: inline-block;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    transition: all 200ms ease-in-out;
    /* width: 100%; */

    &:hover {
        background: var(--color-light) !important;
        color: var(--color-dark) !important;
    }

    &.contained {
        background: var(--color-primary);
    }

    &.outlined {
        background: none;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
    }

    &.has-child {
        padding: 0 1rem;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }

    &>#icon {
        padding: 5px 2px;
        font-size: 1.5rem;
    }
}