.forgot-password .header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.forgot-password .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forgot-password .content:last-child a {
    line-height: 1.57143;
    font-weight: bold;
    align-self: center;
}

.forgot-password .content:last-child a::before {
    content: "\2039 ";
    font-size: 16px;
}