.insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.insights h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

.insights small {
    margin-top: 1.3rem;
    display: block;
}

.recent-orders {
    margin-top: 2rem;
}

.recent-orders h2 {
    margin-bottom: 2rem;
}

.recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

@media screen and (max-width: 1200px) {
    .insights {
        grid-template-columns: 1fr !important;
        gap: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    .recent-orders {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    .recent-orders table {
        width: 100%;
        margin: 0;
    }
}