.middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle .left h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}

@media screen and (max-width: 1440px) {
    .middle .left h1 {
        font-size: 2rem;
    }

    .middle .left h3 {
        font-size: 0.9rem;
    }
}