.template {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 13rem auto 1fr;
    grid-template-areas:
        "sidebar main right"
    ;

    >main {
        margin-top: 1.4rem;
        grid-area: main;
    }
}

@media screen and (max-width: 1024px) {
    .template {
        width: 94%;
        grid-template-columns: 7rem auto 20rem;
    }
}

@media screen and (max-width: 768px) {
    .template {
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-areas:
            "main"
            "right";

        >main {
            margin-top: 8rem !important;
            padding: 0 2rem;
        }
    }
}