.template {
    display: grid;
    width: 96%;
    margin: 0 auto;
    /* background: red; */
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
    grid-template-areas:
        "sidebar main ."
    ;
}