.progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress svg {
    width: 7rem;
    height: 7rem;
    stroke-width: 10;
}

.progress svg circle {
    fill: none;
    stroke: var(--color-primary);
    /* stroke-width: 14; */
    stroke-linecap: round;
    transform: translate(5px, 5px);
    /* stroke-dasharray: 110;
    stroke-dashoffset: 92; */
}