.select {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 5em;
    min-height: 2em;
    border-radius: .25em;
    overflow: hidden;

    >select {
        appearance: none;
        border: 0;
        box-shadow: none;
        flex: 1;
        padding: 0 1em;
        color: var(--color-dark);
        background-color: var(--color-light);
        background-image: none;
        cursor: pointer;

        &::-ms-expand {
            display: none;
        }
    }

    &::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 5px;
        background-color: var(--color-light);
        transition: .25s all ease;
        pointer-events: none;
    }

    &:hover::after {
        color: var(--color-primary);
    }
}