.sign-up {
    .header {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 40px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .input-group {
            display: flex;
            flex-direction: row;
            gap: 16px;

            .form-group {
                width: 100%;
            }
        }

        &:last-child a {
            text-decoration: underline;
        }
    }
}