.sign-up .header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.sign-up .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sign-up .content .input-group {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.sign-up .content:last-child a {
    text-decoration: underline;
}

@media screen and (max-width: 425px) {
    .sign-up .header h1 {
        font-size: 30px;
    }

    .sign-up .content .input-group {
        flex-direction: column;
    }
}
