.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
}

.container {
    position: fixed;
    display: table;
    height: 100% !important;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 999;
}

.container.four {
    transform: scale(1);
}

.container.four .bg {
    background: rgba(0, 0, 0, .7);
}

.container.four .bg .content {
    width: 90%;
    animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.container.four+.content {
    z-index: 1;
    animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.container.four.out .bg .content {
    animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.container.four.out+.content {
    animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.container .bg {
    display: table-cell;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    vertical-align: middle;
}

.container .bg .content {
    background: white;
    color: #333;
    padding: 30px 100px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
    line-height: 2;
}

.container .bg .content>div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem 0;
}

.container .bg .content img {
    width: 350px;
    height: 250px;
    border-radius: 5px;
}

.container .bg .content .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    font-weight: bold;
    background: rgb(245, 105, 105);
    color: white;
    padding: 0 1rem .2rem;
    cursor: pointer;
    border-radius: 0 3px 0 5px;
    line-height: 1.5;
}

.container .bg .content h2 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 15px;
}

.container .bg .content p {
    font-size: 18px;
    line-height: 22px;
}

@keyframes blowUpContent {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    99.9% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(0);
    }
}

@keyframes blowUpContentTwo {
    0% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes blowUpModal {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes blowUpModalTwo {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}