#modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 1;

    &.show {
        transform: scale(1);

        .modal-background {
            background: rgba(0, 0, 0, .0);
            animation: bgFadeIn .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

            .modal-content {
                opacity: 0;
                animation: scaleUp .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
        }

        &.out {
            animation: quickScaleDown 0s .5s linear forwards;

            .modal-background {
                animation: bgFadeOut .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

                .modal-content {
                    animation: scaleDown .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                }
            }
        }
    }

    .modal-background {
        display: table-cell;
        background: rgba(0, 0, 0, .8);
        text-align: center;
        vertical-align: middle;

        .modal-content {
            position: relative;
            background-color: #fefefe;
            display: inline-block;
            padding: 0;
            width: 50%;
            border-radius: 3px;
            padding: 5px;
        }
    }

    .btn-close {
        color: #000;
        font-size: 28px;
        font-weight: bold;
    }

    .btn-close:hover,
    .btn-close:focus {
        color: var(--color-primary);
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 5px 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        border-bottom: 1px solid #eee;
    }

    .modal-body {
        padding: 1rem;
    }

    .modal-footer {
        padding: 1rem;
        border-top: 1px solid #eee;
    }
}