.icon-button {
    background: none;
    color: var(--color-dark);
    display: flex;
    align-items: center;
    border-radius: 50%;

    &:disabled {
        color: var(--color-dark-variant);

        &:hover {
            color: var(--color-dark-variant) !important;
        }
    }

    &:hover {
        color: var(--color-primary) !important;
    }

    .icon {
        padding: 3px;
    }
}