.icon-button {
    background: none;
    color: var(--color-dark);
    padding: 2px;
    margin: 0;
    height: 30px;
    display: flex;
    align-items: center;
    /* border-radius: 50%; */

    .icon {
        padding: 3px;
    }

    /* #icon:hover {
            color: var(--color-primary);
        } */

    /* &:hover {
            background: none !important;
        } */
}