.menu-item {
    width: 100%;
    /* border-bottom: 1px solid var(--color-light); */
    color: var(--color-dark);
    cursor: pointer;
    padding: .75rem 1rem;
    text-align: -webkit-center;

    &:hover {
        background: var(--color-light);
    }

    & button {
        font-size: 11px;

        &>.icon {
            font-size: 16px;
        }
    }

    /* &:last-child {
        border: none;
    } */
}