.menu-item {
    width: 100%;
    color: var(--color-dark);
    cursor: pointer;
    padding: .25rem 1rem;
    display: list-item;
    text-align: left;

    &:hover {
        background: var(--color-light);
    }

    & button {
        font-size: 11px;

        &>.icon {
            font-size: 16px;
        }
    }
}