.date-picker {
    background: var(--color-light);
    color: var(--color-dark);
    color-scheme: dark;

    &::-webkit-calendar-picker-indicator {
        opacity: 0.6;
        filter: invert(0.5);
        cursor: pointer;
    }

    &::-webkit-calendar-picker-indicator:hover {
        opacity: 1;
    }
}