.date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;

    >input[type='date'] {
        background: transparent;
        color: var(--color-dark);
        color-scheme: dark;

        &::-webkit-calendar-picker-indicator {
            opacity: 0.6;
            filter: invert(0.5);
            cursor: pointer;
        }

        &::-webkit-calendar-picker-indicator:hover {
            opacity: 1;
        }
    }
}

/* @media (prefers-color-scheme: dark) {
    .date {
        >input[type='date'] {
            color-scheme: dark;
        }
    }
} */