table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

/* table thead {
    background: var(--color-light);
} */

table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}

table tr {
    border-bottom: 1px solid var(--color-light);
    padding: .35em;
}

table tr:last-child {
    border: none;
}

table th,
table td {
    padding: .625em;
    text-align: -webkit-center;
    height: 2.8rem;
    color: var(--color-dark-variant);
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

/* tbody tr:nth-child(even){
    background-color: var(--color-light);
} */

/* tbody tr:hover{
    background-color: var(--color-light);
} */

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid var(--color-light);
        display: block;
        margin-bottom: 1rem;
    }

    table td {
        border-bottom: 1px solid var(--color-light);
        display: block;
        font-size: 12px;
        /* text-align: right; */
        text-align: -webkit-right;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.expand-btn {
    color: var(--color-dark);
    cursor: pointer;
    padding: 10px;
    background: none;

    &:after {
        content: '\25BC';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    &.active:after {
        transform: rotate(-180deg);
        transition: transform .6s;
    }
}

.expand-content {
    padding: 0 18px;
    background-color: var(--color-white);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}